<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .card {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .card-img-top {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .card .btn {
            margin-top: 10px;
        }
    </style>
    <title>Items</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="#">SwiftServe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/item">Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order/:userId">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <% item.forEach((el,i)=> { %>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="<%= el.imageUrl %>" alt="Product Image" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= el.name %>
                            </h5>
                            <p class="card-text">
                                <%= el.description %>
                            </p>
                            <p class="card-text">Price: <%= formattedPrice[i] %>
                            </p>
                            <form action="/item" method="post">
                                <input type="hidden" name="itemId" value="<%= el.id %>">
                                <button type="submit" class="btn btn-primary">Add to Order</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>